<!DOCTYPE html>
<html lang="esp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/style.css">
  <title>vamonosx2</title>
</head>
<body>
    <nav>
      <img class="logo" src="../img/tienda-virtual.png">
      <li class="nav-items"><a href="../index.html">Home</a></li>
      <li class="nav-items"><a href="articulos.html">Tienda</a></li>
      <li class="nav-items"><a href="contacto.html">Contacto</a></li>
      <li class="nav-items"><a href="https://www.facebook.com/">facebook</a></li>
      <li class="nav-items"><a href="https://twitter.com">twitter</a></li>
    </nav>
      <h1 class="encabezado">Productos</h1>
      <hr>
      <div class="venta">
        <h2 class="articulos">Televisores</h2>
        <div class="televisor">
          <img src="../img/televisor.jpg" alt="televisor" title="televisor">
        </div>
        <div class="televisor">
          <img src="../img/televisor2.jpg" alt="televisor2" title="televisor">
        </div>
        <div class="televisor">
          <img src="../img/televisor3.jpg" alt="televisor3" title="televisor">
        </div>
      </div>
      <div class="venta">
        <h2 class="articulos">Computadoras de escritorio</h2>
        <div class="computadoras">
          <img src="../img/computadora.jpg" alt="computadora" title="computadora">
        </div>
        <div class="computadoras">
          <img src="../img/computadora2.jpg" alt="computadora2" title="computadora">
        </div>
        <div class="computadoras">
          <img src="../img/computadora3.jpg" alt="computadora3" title="computadora">
        </div>
      </div>
      <div class="venta">
        <h2 class="articulos">Laptops</h2>
        <div class="laptop">
          <img src="../img/laptop.jpg" alt="laptop" title="laptop">
        </div>
        <div class="laptop">
          <img src="../img/laptop2.jpg" alt="laptop2" title="laptop">
        </div>
        <div class="laptop">
          <img src="../img/laptop3.jpg" alt="laptop3" title="laptop">
        </div>
      </div>
      <div class="footer">
        <footer>
          <p id="ciudad">Ciudad de Mexico</p>
          <p id="copyright">&copy; Saul Gonzalez</p>
        </footer>
      </div>
  
</body>
</html>